<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'libs/bookstrap/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/video.css' %}" rel="stylesheet">
    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'imgs/AI_32px.ico' %}" />
</head>

<body>
   {% include "base/title.html" %}
   <div >
    <div id="selection" align="center">
      <a>用户名：</a>
      <select id="user">
        {% for i in content.filelist %}
        <option><a>{{i}}</a></option>
        {% endfor %}
      </select>
      <input style="padding:0px 20px;" class=" ui teal  button" type="button" value="查询" onclick="query1()">
    </div>

    <div  align="center">
      <p id="demo"></p>
    </div>

  </div>


</body>

<script type="text/javascript">

  function query1(){
    var myselect=document.getElementById("user");
    var index=myselect.selectedIndex;
    var username=myselect.options[index].value;
    data = {user:username};
    var senddata = JSON.stringify(data);
    var myObj, i, x = "";
    $.ajax({
            url: "/myadmin/query_path/",
            type: "post",
            data: senddata,
            success: function (data) {
              var jsonData = JSON.parse(data);
              for (i in jsonData.data) {
                x += "<a href='/myadmin/query_result/"+username+'/'+jsonData.data[i] +"/'"+" style='margin-left:10px'>第"+jsonData.data[i] + "次观看</a><br>";
              }
              document.getElementById("demo").innerHTML = x;
            },
        });
  }

  function query2(user,times){
    videodata = {video_id:videoid,times:times,videotime:videotime};
    var senddata = JSON.stringify(videodata);
    $.ajax({
            url: "/myadmin/delete/",
            type: "post",
            data: senddata,
            success: function (data) {
              //var jsonData = JSON.parse(data);
              location.href='/myadmin/list';
            },
        });
  }
</script>

</html>
