<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Admin</title>
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'libs/bookstrap/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/semantic-ui/2.4.1/semantic.min.css">
    <link rel="shortcut icon" href="{% static 'imgs/AI_32px.ico' %}" />

</head>
  <body id="account-body"  style=" background: url({% static '/imgs/bg.jpg'%}) no-repeat center center fixed; background-size: 100%;">
    <div class="container">
          <div class="form row">
              <div class="col-md mb-0">
                  <h1 class="form-title text-center mb-0" style="font-size:38px;">Admin</h1>
                  <div class="col-md-5">
                    <form  id="login_form" class="" novalidate method="post" action="{% url 'myadmin:login' %}" enctype="multipart/form-data">
                      <div class="input">
                          <i class="fa fa-user fa-lg"></i>
                          <input class="form-control required" value="{{content.username}}" type="account"  placeholder="Username" id="username" name="username" maxlength="20"/>
                      </div>
                      <div class="password mb-3">
                              <i class="fa fa-lock fa-lg"></i>
                              <input class="form-control required" type="password" placeholder="Password" id="password" name="password" maxlength="18"/>
                      </div>
                      <div class="form-group mb-2">
                          <label class="checkbox  mb-1">
                              <input type="checkbox" name="remember" id="remember" value="1"/>Remember
                          </label>
                      </div>
                      <div  class="form-group text-center">
                          {% include "base/error.html" %}
                          <button type="submit"  style="padding:12px 30px;margin-left:103px" class=" ui teal  button" name="submit">Login</button>
                      </div>
                    </form>
                  </div>
              </div>
          </div>
      </div>


  </body>
  </html>
