<!DOCTYPE html>
<html>
<head>
    <title>Video</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <script src="{% static 'libs/sweetalert/sweetalert.min.js' %}"></script>
    <link href="{% static 'libs/bookstrap/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'libs/sweetalert/sweetalert.js' %}"></script>
    <link href="{% static 'css/video.css' %}" rel="stylesheet">
    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'imgs/AI_32px.ico' %}" />

    <style type="text/css">
    </style>

</head>

<body oncopy="alert('对不起，禁止复制！');return false;">
  {% include "base/title.html" %}
  <div style="margin-left:50px;">
    <h3 style="margin-top:20px;">第二部分 观看视频并回答问题</h3>
  </div>

  <div class="d-flex mb-3">
     <div class="p-2" style="margin-left:80px;">
       <div>
         <video style="display:none;" id="video" width="120" height="120" controls  ></video>
         <canvas style="background-color: black" id="canvas_1" width="240" height="240"></canvas>
         <canvas style="display:none;" id="canvas" width="120" height="120"></canvas>
       </div>
       <div style="width:250px;">
         <h7>*在过程中，请你尽量把头的位置保持在圈内</h7>
       </div>
       <div style="width:250px;">
         <h7>*请勿全屏观看此视频</h7>
       </div>
       <div style="width:250px;">
         <h7>*请勿拖动进度条</h7>
       </div>

   </div>

   <div class="p-2" style="margin-left:50px;">
     <div class="video">
       <div class="video_flash">
         <div>
           <video id="example" class="vjs-default-skin vjs-big-play-centered"  poster="{% static '/imgs/v1.jpg'%}" controls preload="auto" width=80% height=40%>
              <source style=" background:#000;" src="{% static '/media/v2.mp4'%}"  type="video/mp4">
              <p class="vjs-no-js"> To view this video please enable JavaScript, and consider upgrading to a web browser</p>
           </video>
         </div>
         <div>
            <a id="qn"></a>
         </div>
     </div>
   </div>

</div>


<br></br><br></br>
</body>


<script type="text/javascript">


function p3(){
   window.location.href="/video/part3";
}
//<source src="http://1257273252.vod2.myqcloud.com/cc6d9a86vodcq1257273252/5d2b40f55285890794396832134/CSbIIqDpZEwA.mp4"  type="video/mp4">
//<source src="https://www.billarts.club/static/media/1.ogg"  type="video/ogg">{% static '/media/v2.mp4'%}
function getUserMedia(constraints, success, error) {
  if (navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia(constraints).then(success).catch(error);
  } else if (navigator.webkitGetUserMedia) {
    navigator.webkitGetUserMedia(constraints,success, error)
  } else if (navigator.mozGetUserMedia) {
    navigator.mozGetUserMedia(constraints, success, error);
  } else if (navigator.getUserMedia) {
    navigator.getUserMedia(constraints, success, error);
  }
}
function success(stream) {
  let CompatibleURL = window.URL || window.webkitURL;
  console.log(stream);
  video.srcObject = stream;
  video.play();
}
function error(error) {
  console.log(`error${error.name}, ${error.message}`);
    alert('没有检查到摄像头,请检查本机摄像头是否正常');
}
if (navigator.mediaDevices.getUserMedia || navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia) {
  getUserMedia({video : {width: 120, height: 120}}, success, error);
} else {
    alert('没有检查到摄像头,请检查本机摄像头是否正常');
    //no allow
}
var video_id = {{video_id}}
var video_times = {{video_times}}
let video = document.getElementById('video');
let canvas = document.getElementById('canvas');
let context = canvas.getContext('2d');
let canvas_1 = document.getElementById('canvas_1');
let context_1 = canvas_1.getContext('2d');
let flag_1 = 0;
let flag_2 = 0;
let flag_3 = 0;
let sym = 0;
let timeDisplay = 0;
let answer_flag = 0 ;
var question_number = document.getElementById("qn");
question_number.innerHTML="共10题，还剩10题"

function answer(question,answer){
  var answerdata = {question_id:question,answer:answer,video_times:video_times};
  var answerdata = JSON.stringify(answerdata);
  $.ajax({
          url: "/quiz/testrecord",
          type: "post",
          data: answerdata,
          success: function (data) {
          //  var jsonData = JSON.parse(data);
          //  document.getElementById('result').innerHTML="Result:".concat(jsonData.data);
          },
      });
  Swal.close();
  answer_flag=1
}

var d=60;

function test(){
  var timecount = 0;
  var aaa=document.getElementById("time");
  var timer = window.setInterval(function(){
        aaa.innerHTML="作答时间还剩:"+d.toString()+"秒";
        d=d-1;
        if(d<1){
          clearInterval(timer);
          d=60;
          swal.close();
          v.play();
        }
  },1000);
}


function clearArc(x,y,radius){//圆心(x,y)，半径radius
        var calcWidth=radius;
        var calcHeight=Math.sqrt(radius*radius-calcWidth*calcWidth);
        var posX=x-calcWidth;
        var posY=y-calcHeight;
        var widthX=2*calcWidth;
        var heightY=2*calcHeight;
        //context_1.clearRect(posX,posY,widthX,heightY);
        clearArc(x,y,radius);

      }


function playvideo(){

      var i = window.setInterval(function () {
          context.drawImage(video, 0, 0, 120, 120);
          var canvasElement = document.getElementById('canvas');
          var MIME_TYPE = "image/png";
          var imgURL = canvasElement.toDataURL(MIME_TYPE,0.1).substring(22);
          timeDisplay = Math.floor(v.currentTime);
          imgData = {uploadImg:imgURL,videotime:timeDisplay,video_id:video_id,video_times:video_times};
          var senddata = JSON.stringify(imgData);
          $.ajax({
                  url: "/video/record",
                  type: "post",
                  data: senddata,
                  success: function (data) {
                    //var jsonData = JSON.parse(data);
                    //alert(jsonData);
                  //  document.getElementById('result').innerHTML="Result:".concat(jsonData.data);
                  },
              });

          if (answer_flag==1){
            answer_flag=0
            clearInterval(i);
            v.removeEventListener("play",playvideo);
            v.addEventListener("play",playvideo);
            v.play();
          }

          if(v.paused && timeDisplay!=54 && timeDisplay!=137 && timeDisplay!=188 && timeDisplay!=270 && timeDisplay!=355 && timeDisplay!=429 && timeDisplay!=493 && timeDisplay!=535 && timeDisplay!=608 && timeDisplay!=662){//|| v.paused
            clearInterval(i);
            v.removeEventListener("play",playvideo);
            v.addEventListener("play",playvideo);
          }

          if(v.ended)
          {
            clearInterval(i);
            v.removeEventListener("play",playvideo);
            v.addEventListener("play",playvideo);
            window.location.href="/video/part3";
          }


          if(timeDisplay!=54){//54
              flag_1 = 0;
          }
          if(timeDisplay!=137){
              flag_2 = 0;
          }
          if(timeDisplay!=188){
              flag_3 = 0;
          }
          if(timeDisplay!=270){
              flag_4 = 0;
          }
          if(timeDisplay!=355){
              flag_5 = 0;
          }
          if(timeDisplay!=429){
              flag_6 = 0;
          }
          if(timeDisplay!=493){
              flag_7 = 0;
          }
          if(timeDisplay!=535){
              flag_8 = 0;
          }
          if(timeDisplay!=608){
              flag_9 = 0;
          }
          if(timeDisplay!=662){//662
              flag_10 = 0;
          }



          if(timeDisplay == 2 && flag_1 == 0){
            v.pause();
            flag_1 = 1;
            content =
            "<div><a style='font-size:30px'>已知a=1,b=2,c=3,d=4<a></div>"
            +"<div><a style='font-size:30px'>(1) a+c=5   (2) b+c=5</a></div>"
            +"<div style='margin-bottom:20px;'><a style='font-size:30px'>(3) c+d=5   (4) a+d=5</a> </div>"
            + "<div><table class='table_list'>"
            +"<button type='button' id='A1' value='A' style='width:150px;font-size:20px'  class='btn btn-info mb-3' onclick='answer(1,1);'>A. (1) 正确</button>"
            + "<div><button type='button' id='B1' value='B' style='width:150px;font-size:20px' class='btn btn-info mb-3' onclick='answer(1,2);'>B. (1)(3) 正确</button></div>"
            + "<div><button type='button' id='C1' value='C' style='width:150px;font-size:20px' class='btn btn-info mb-3' onclick='answer(1,3);'>C. (3) 正确</button></div>"
            + "<div><button type='button' id='D1' value='D' style='width:150px;font-size:20px' class='btn btn-info mb-3' onclick='answer(1,4);'>D. (2)(4) 正确</button></div>"
            + "</table></div>"
            + "<a id='time'></a>"
            Swal.fire({
                title: '<strong>Question 1</strong>',
                type: 'info',
                html: content, // HTML
                showConfirmButton: false,
                showCloseButton: false,//右上角关闭
                focusClose: false,
                allowOutsideClick :false,
            })
            test();
            question_number.innerHTML="共10题，还剩9题"
          }


          if(timeDisplay == 137 && flag_2 == 0){
            v.pause();
            flag_2= 1;
            content ="<div> <a style='font-size:30px'>某班有80%的学生喜欢打乒乓球，40%的学生打篮球，问喜欢打乒乓球的学生中，至少有百分之几喜欢打篮球?</a ><div> "
            +"<div style='margin-bottom:30px;'><a style='font-size:30px'>已知a=15%,b=25%,c=30%,d=40%</a ></div>"
            + "<div><table class='table_list'>"
            +"<button type='button' id='A' style='width:150px;font-size:20px'  class='btn btn-info mb-3' onclick='answer(2,1);'>A. b</button>"
            + "<div><button type='button' id='B' style='width:150px;font-size:20px' class='btn btn-info mb-3' onclick='answer(2,2);;'>B. a+b</button></div>"
            + "<div><button type='button' id='C' style='width:150px;font-size:20px' class='btn btn-info mb-3' onclick='answer(2,3);;'>C. d</button></div>"
            + "<div><button type='button' id='D' style='width:150px;font-size:20px' class='btn btn-info mb-3' onclick='answer(2,4);'>D. a+c</button></div>"
            + "</table></div>"
            + "<a id='time'></a>"
            Swal.fire({
                title: '<strong>Question 2</strong>',
                type: 'info',
                html: content, // HTML
                showConfirmButton: false,
                showCloseButton: false,//右上角关闭
                focusClose: false,
                allowOutsideClick :false,
            })
            test();
            question_number.innerHTML="共10题，还剩8题"
          }



          if(timeDisplay == 188 && flag_3 == 0){
            v.pause();
            flag_3= 1;
            content ="<img src='{% static '/imgs/3.png'%}'  />"
            +"<div> <a style='font-size:30px'>求满足此式的最大整数n</a></div>"
            +"<div style='margin-bottom:20px;'> <a style='font-size:30px'>已知a=1,b=2,c=3,d=4</a></div>"
            + "<div><table class='table_list'>"
            +"<button type='button' id='A' style='width:150px;font-size:20px'  class='btn btn-info mb-3' onclick='answer(3,1);'>A. n=a+b</button>"
            + "<div><button type='button' id='B' style='width:150px;font-size:20px' class='btn btn-info mb-3' onclick='answer(3,2);'>B. n=a+c</button></div>"
            + "<div><button type='button' id='C' style='width:150px;font-size:20px' class='btn btn-info mb-3' onclick='answer(3,3);'>C. n=b+c</button></div>"
            + "<div><button type='button' id='D' style='width:150px;font-size:20px' class='btn btn-info mb-3' onclick='answer(3,4);'>D. n=d</button></div>"
            + "</table></div>"
            + "<a id='time'></a>"
            Swal.fire({
                title: '<strong>Question 3</strong>',
                type: 'info',
                html: content, // HTML
                showConfirmButton: false,
                showCloseButton: false,//右上角关闭
                focusClose: false,
                allowOutsideClick :false,
            })
            test();
            question_number.innerHTML="共10题，还剩7题"
          }



          if(timeDisplay == 270 && flag_4 == 0){
            v.pause();
            flag_4= 1;
            content =""
            +"<div><a style='font-size:30px'>下列4个数，哪个写成100个连续自然数的和？</a></div>"
            +"<div style='margin-bottom:20px;'><a style='font-size:30px'>a.14950 b.51340 c.4950 d.5050</a></div>"
            + "<div><table class='table_list'>"
            + "<div><button type='button' id='A' style='width:150px;font-size:20px'  class='btn btn-info mb-3' onclick='answer(4,1);'>A. a和d</button></div>"
            + "<div><button type='button' id='B' style='width:150px;font-size:20px' class='btn btn-info mb-3' onclick='answer(4,2);'>B. b和c</button></div>"
            + "<div><button type='button' id='C' style='width:150px;font-size:20px' class='btn btn-info mb-3' onclick='answer(4,3);'>C. a和c</button></div>"
            + "<div><button type='button' id='D' style='width:150px;font-size:20px' class='btn btn-info mb-3' onclick='answer(4,4);'>D. b和d</button></div>"
            + "</table></div>"
            + "<a id='time'></a>"
            Swal.fire({
                title: '<strong>Question 4</strong>',
                type: 'info',
                html: content, // HTML
                showConfirmButton: false,
                showCloseButton: false,//右上角关闭
                focusClose: false,
                allowOutsideClick :false,
            })
            test();
            question_number.innerHTML="共10题，还剩6题"
          }

          if(timeDisplay == 355 && flag_5 == 0){
            v.pause();
            flag_5= 1;
            content =""
            +"<div><a style='font-size:30px'>阅览室有100本书，小李看过80本，小王看过60本，小刘看过70本，则三人看过的书，最少有（ ）本？</a></div>"
            +"<div style='margin-bottom:20px;'><a style='font-size:30px'>已知a=5 ,b=10, c=15, d=20</a></div>"
            + "<div><table class='table_list'>"
            +"<button type='button' id='A' style='width:150px;font-size:20px'  class='btn btn-info mb-3' onclick='answer(5,1);'>A. a</button>"
            + "<div><button type='button' id='B' style='width:150px;font-size:20px' class='btn btn-info mb-3' onclick='answer(5,2);'>B. a+c</button></div>"
            + "<div><button type='button' id='C' style='width:150px;font-size:20px' class='btn btn-info mb-3' onclick='answer(5,3);'>C. b</button></div>"
            + "<div><button type='button' id='D' style='width:150px;font-size:20px' class='btn btn-info mb-3' onclick='answer(5,4);'>D. a+b</button></div>"
            + "</table></div>"
            + "<a id='time'></a>"
            Swal.fire({
                title: '<strong>Question 5</strong>',
                type: 'info',
                html: content, // HTML
                showConfirmButton: false,
                showCloseButton: false,//右上角关闭
                focusClose: false,
                allowOutsideClick :false,
            })
            test();
            question_number.innerHTML="共10题，还剩5题"
          }



          if(timeDisplay == 429 && flag_6 == 0){
            v.pause();
            flag_6= 1;
            content =""
            +"<div><a style='font-size:30px'>2016年7月1日是星期五，那么2020年7月1日是星期几？</a></div>"
            +"<div style='margin-bottom:20px;'><a style='font-size:30px'>已知a=1, b=2, c=4, d=5</a></div>"
            + "<div><table class='table_list'>"
            +"<button type='button' id='A' style='width:150px;font-size:20px'  class='btn btn-info mb-3' onclick='answer(6,1);'>A. a</button>"
            + "<div><button type='button' id='B' style='width:150px;font-size:20px' class='btn btn-info mb-3' onclick='answer(6,2);'>B. a+b</button></div>"
            + "<div><button type='button' id='C' style='width:150px;font-size:20px' class='btn btn-info mb-3' onclick='answer(6,3);'>C. c</button></div>"
            + "<div><button type='button' id='D' style='width:150px;font-size:20px' class='btn btn-info mb-3' onclick='answer(6,4);'>D. a+d</button></div>"
            + "</table></div>"
            + "<a id='time'></a>"
            Swal.fire({
                title: '<strong>Question 6</strong>',
                type: 'info',
                html: content, // HTML
                showConfirmButton: false,
                showCloseButton: false,//右上角关闭
                focusClose: false,
                allowOutsideClick :false,
            })
            test();
            question_number.innerHTML="共10题，还剩4题"
          }


          if(timeDisplay == 493 && flag_7 == 0){
            v.pause();
            flag_7= 1;
            content =""
            +"<div style='margin-bottom:20px;'><a style='font-size:30px'>The teacher asked the students _____?</a></div>"
            + "<div><table class='table_list'>"
            +"<button type='button' id='A' style='width:400px;font-size:20px'   class='btn btn-info mb-3' onclick='answer(7,1);'>A. if they were interested in dinosaurs</button>"
            + "<div><button type='button' id='B' style='width:400px;font-size:20px'  class='btn btn-info mb-3' onclick='answer(7,2);'>B. when was Albert Einstein born</button></div>"
            + "<div><button type='button' id='C' style='width:400px;font-size:20px'  class='btn btn-info mb-3' onclick='answer(7,3);'>C. what they will do with the computers</button></div>"
            + "<div><button type='button' id='D' style='width:400px;font-size:20px'  class='btn btn-info mb-3' onclick='answer(7,4);'>D. How many trees they have planted</button></div>"
            + "</table></div>"
            + "<a id='time'></a>"
            Swal.fire({
                title: '<strong>Question 7</strong>',
                type: 'info',
                html: content, // HTML
                showConfirmButton: false,
                showCloseButton: false,//右上角关闭
                focusClose: false,
                allowOutsideClick :false,
            })
            test();
            question_number.innerHTML="共10题，还剩3题"
          }


          if(timeDisplay == 535 && flag_8 == 0){
            v.pause();
            flag_8= 1;
            content ="<img src='{% static '/imgs/8.png'%}'  />"
            +"<div style='margin-bottom:20px;'><a style='font-size:30px'>已知 a=2, b=4, c=5, d=8</a></div>"
            + "<div><table class='table_list'>"
            +"<button type='button' id='A' style='width:150px;font-size:20px'  class='btn btn-info mb-3' onclick='answer(8,1);'>A. a+b</button>"
            + "<div><button type='button' id='B' style='width:150px;font-size:20px' class='btn btn-info mb-3' onclick='answer(8,2);'>B. b</button></div>"
            + "<div><button type='button' id='C' style='width:150px;font-size:20px' class='btn btn-info mb-3' onclick='answer(8,3);'>C. c</button></div>"
            + "<div><button type='button' id='D' style='width:150px;font-size:20px' class='btn btn-info mb-3' onclick='answer(8,4);'>D. d</button></div>"
            + "</table></div>"
            + "<a id='time'></a>"
            Swal.fire({
                title: '<strong>Question 8</strong>',
                type: 'info',
                html: content, // HTML
                showConfirmButton: false,
                showCloseButton: false,//右上角关闭
                focusClose: false,
                allowOutsideClick :false,
            })
            test();
            question_number.innerHTML="共10题，还剩2题"
          }




          if(timeDisplay == 608 && flag_9 == 0){
            v.pause();
            flag_9= 1;
            content =""
            +"<div><a style='font-size:30px'>某人从1楼到2楼用了20秒，用同样的速度从1楼走到5楼需要多少秒？</div>"
            +"<div style='margin-bottom:20px;'><p1>已知 a=10, b=30, c=40, d=50<p1></div>"
            + "<div><table class='table_list'>"
            +"<button type='button' id='A' style='width:150px;font-size:20px'   class='btn btn-info mb-3' onclick='answer(9,1);'>A. a+d</button>"
            + "<div><button type='button' id='B' style='width:150px;font-size:20px'  class='btn btn-info mb-3' onclick='answer(9,2);'>B. c</button></div>"
            + "<div><button type='button' id='C' style='width:150px;font-size:20px'  class='btn btn-info mb-3' onclick='answer(9,3);'>C. b+d</button></div>"
            + "<div><button type='button' id='D' style='width:150px;font-size:20px'  class='btn btn-info mb-3' onclick='answer(9,4);'>D. d</button></div>"
            + "</table></div>"
            + "<a id='time'></a>"
            Swal.fire({
                title: '<strong>Question 9</strong>',
                type: 'info',
                html: content, // HTML
                showConfirmButton: false,
                showCloseButton: false,//右上角关闭
                focusClose: false,
                allowOutsideClick :false,
            })
            test();
            question_number.innerHTML="共10题，还剩1题"
          }

          if(timeDisplay == 662 && flag_10 == 0){
            v.pause();
            flag_10= 1;
            content ="<div><img src='{% static '/imgs/10.png'%}'  /></div>"
            +"<div style='margin-bottom:20px;'><a style='font-size:30px'>已知 a=1, b=2, c=3, d=4</a></div>"
            + "<div><table class='table_list'>"
            +"<button type='button' id='A' style='width:150px;font-size:20px'  class='btn btn-info mb-3' onclick='answer(10,1);'>A. a/b</button>"
            + "<div><button type='button' id='B' style='width:150px;font-size:20px' class='btn btn-info mb-3' onclick='answer(10,2);'>B. d/b</button></div>"
            + "<div><button type='button' id='C' style='width:150px;font-size:20px' class='btn btn-info mb-3' onclick='answer(10,3);'>C. c/d</button></div>"
            + "<div><button type='button' id='D' style='width:150px;font-size:20px' class='btn btn-info mb-3' onclick='answer(10,4);'>D. a/d</button></div>"
            + "</table></div>"
            + "<a id='time'></a>"
            Swal.fire({
                title: '<strong>Question 10</strong>',
                type: 'info',
                html: content, // HTML
                showConfirmButton: false,
                showCloseButton: false,//右上角关闭
                focusClose: false,
                allowOutsideClick :false,
            })
            test();
            question_number.innerHTML="共10题，还剩0题"
          }



  }, 1000)


}


window.onload = function(){
  var i = window.setInterval(function () {
    context_1.drawImage(video, 0, 0, 240, 240);
    context_1.beginPath();
    //context_1.globalAlpha=0.9;
    context_1.fillStyle="white";
    context_1.strokeStyle="white";
    context_1.lineWidth=3;
    context_1.arc(120, 120,105,Math.PI*2,0,true);
    context_1.stroke();
    context_1.closePath();
    clearArc(120,120,100);
    //ctx.globalCompositeOperation="lighter";
    context_1.fill();

  }, 10)

}

var v = document.getElementById('example');
v.addEventListener("play",playvideo);

$(window).resize(function () {

  var isFullscreen = document.fullscreenEnabled || window.fullScreen || document.webkitIsFullScreen || document.msFullscreenEnabled;
  //注意：要在用户授权全屏后才能准确获取当前的状态
  if(isFullscreen){
    //console.log('全屏模式');
    document.exitFullscreen();
  }else{
    //console.log('非全屏模式');
  }
});

</script>


</html>
