<!DOCTYPE html>
<html>
<head>
    <title>Video</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'libs/bookstrap/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'imgs/AI_32px.ico' %}" />
</head>

<body>
  {% include "base/title.html" %}


  <div style="margin-left:43%;margin-top:12%;">
    <h2>感谢你的参与！</h2>
  </div>


</body>


</html>
