<!DOCTYPE html>
<html>
<head>
    <title>Video</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'libs/bookstrap/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/video.css' %}" rel="stylesheet">
    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'imgs/AI_32px.ico' %}" />
</head>

<body>
  {% include "base/title.html" %}
  {% include "base/nav.html" %}
  <div style="margin-left:50px;">
    <h1>part 2</h1>
  </div>

  <div style="margin-left:50px;">
    <h4>请选择视频观看并进入Part3</h4>
    <h5>在part3中,浏览器会向用户发出打开用户摄像头的请求，请点击允许</h5>
    <h5>请认真观看视频，并回答视频中的问题</h5>
  <div class="album py-3">
    <div class="row">
      {% for  value in video_obj %}
      <div class="col-md-3">
        <div class="card mb-3 shadow-sm">
          <a  href="{% url 'video:partlist' page_id=3%}?video_id={{value.id}}" ><img src="{% static '/imgs/bg2.jpg'%}" class="card-img-top"></a>
          <div class="card-body">
            <h5>{{ value.title }}</h5>
            <div class="d-flex justify-content-between align-items-center">
              {% if value.level == '0' %}
                <a style="font-size:15px">(简单)</a>
              {% else %}
                <a style="font-size:15px">(困难)</a>
              {% endif %}
              <small class="text-muted" style="font-size:20px">7 mins</small>
            </div>
          </div>
        </div>
      </div>
        {% endfor %}
    </div>
  </div>
</div>


</body>


</html>
