<!DOCTYPE html>
<html>
<head>
    <title>Video</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'libs/bookstrap/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'libs/sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static 'libs/sweetalert/sweetalert.js' %}"></script>
    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'imgs/AI_32px.ico' %}" />
</head>

<body oncopy="alert('对不起，禁止复制！');return false;">
  {% include "base/title.html" %}

  <h3 style="margin-top:20px;margin-left:50px;">第一部分 测试前准备</h3>
  <div class="d-flex mb-3">
    <div class="p-2" style="margin-left:100px;margin-top:60px" >
      <h5 >请校准计算机的视像头并清楚看到自己的头像</h5>
      <div>
        <button  type="button" style="margin-top:5px" class="btn btn-info" onclick="calibration();">校准按键</button>
      </div>
      <div id="ing" style="display:none;" >
        <a style="margin-top:15px;font-size:20px;color: orange;" >校准中</a>
      </div>
      <div id="nopass" style="display:none;" >
        <a style="margin-top:15px;font-size:20px;color: red;" >校准失败</a>
      </div>
      <h5 style="margin-top:45px;">若校准失败，请确保:</h5>
      <h5>1.头像在圆圈范围内</h5>
      <h5>2.成功打开摄像头</h5>
      <h5>3.光线充足明亮</h5>
      <h5>4.在色彩单一的背景下进行测试</h5>
      <h5>5.眼镜镜片不反光</h5>
      <h5>6.正面面对镜头</h5>
    </div>
     <div class="p-2">
        <div style="margin-left:50px" >
          <video style="display:none;" id="video" width="480" height="480" controls  ></video>
          <canvas style="display:none;" id="canvas" width="480" height="480"></canvas>
          <canvas style="background-color: black" id="canvas_1" width="480" height="480"></canvas>
        </div>
      </div>

  </div>



</body>

  <script type="text/javascript">
  function getUserMedia(constraints, success, error) {
    if (navigator.mediaDevices.getUserMedia) {
      navigator.mediaDevices.getUserMedia(constraints).then(success).catch(error);
    } else if (navigator.webkitGetUserMedia) {
      navigator.webkitGetUserMedia(constraints,success, error)
    } else if (navigator.mozGetUserMedia) {
      navigator.mozGetUserMedia(constraints, success, error);
    } else if (navigator.getUserMedia) {
      navigator.getUserMedia(constraints, success, error);
    }
  }
  function success(stream) {
    let CompatibleURL = window.URL || window.webkitURL;
    console.log(stream);
    video.srcObject = stream;
    video.play();
  }
  function error(error) {
    console.log(`error${error.name}, ${error.message}`);
    alert('没有检查到摄像头,请检查本机摄像头是否正常');
  }
  if (navigator.mediaDevices.getUserMedia || navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia) {
    getUserMedia({video : {width: 480, height: 480}}, success, error);
  } else {
      alert('请允许打开摄像头');
      //no allow
  }
  let video = document.getElementById('video');
  let canvas = document.getElementById('canvas');
  let context = canvas.getContext('2d');
  let canvas_1 = document.getElementById('canvas_1');
  let context_1 = canvas_1.getContext('2d');

  // 设置cookie
  function setCookie(name, value, seconds) {
    seconds = seconds || 0;   //seconds有值就直接赋值，没有为0
    var expires = "";
    if (seconds != 0 ) {      //设置cookie生存时间
      var date = new Date();
      date.setTime(date.getTime()+(seconds*1000));
      expires = "; expires="+date.toGMTString();
    }
    document.cookie = name+"="+escape(value)+expires+"; path=/";   //转码并赋值
  }

  function calibration(){
    document.getElementById("nopass").style.display="none";
    document.getElementById("ing").style.display="inline";
    context.drawImage(video, 0, 0, 120, 120);
    var canvasElement = document.getElementById('canvas');
    var MIME_TYPE = "image/png";
    var imgURL = canvasElement.toDataURL(MIME_TYPE,0.1).substring(22);
    imgData = {uploadImg:imgURL};
    var senddata = JSON.stringify(imgData);
    $.ajax({
            url: "/video/calibration",
            type: "post",
            data: senddata,
            success: function (data) {
             var jsonData = JSON.parse(data);
             if(jsonData.data=='pass'){
              setCookie('p2','1',10);
              document.getElementById("ing").style.display="none";
              document.getElementById("nopass").style.display="none";
               content =
               "<button  type='button' style='margin-top:5px;' class='btn btn-info' onclick='p2();'>进入part 2</button>"
               Swal.fire({
                   title: '<strong>通过校准</strong>',
                   type: 'info',
                   html: content, // HTML
                   showConfirmButton: false,
                   showCloseButton: false,//右上角关闭
                   focusClose: false,
                   //allowOutsideClick :false,
               })
             }
             else if (jsonData.data=='failure') {
               document.getElementById("ing").style.display="none";
               document.getElementById("nopass").style.display="inline";
             }


            },
        });
  }

    function p2(){
       window.location.href="/video/part2";
    }

    function clearArc(x,y,radius){//圆心(x,y)，半径radius
    				var calcWidth=radius-stepClear;
    				var calcHeight=Math.sqrt(radius*radius-calcWidth*calcWidth);
    				var posX=x-calcWidth;
    				var posY=y-calcHeight;
    				var widthX=2*calcWidth;
    				var heightY=2*calcHeight;
            context_1.clearRect(posX,posY,widthX,heightY);
            clearArc(x,y,radius);

    			}



    window.onload = function(){
      var i = window.setInterval(function () {
        context_1.drawImage(video, 0, 0, 480, 480);
        context_1.beginPath();
        //context_1.globalAlpha=0.9;
        context_1.fillStyle="white";
        context_1.strokeStyle="white";
        context_1.lineWidth=5;
        context_1.arc(240, 240,220,Math.PI*2,0,true);
        context_1.stroke();
        context_1.closePath();
        clearArc(240,240,220);
        //ctx.globalCompositeOperation="lighter";
        context_1.fill();
      }, 10)
    }

  </script>

</html>
