html,body {
  height: 100%;
}
body {
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-bottom: 10px;

}

input[type="account"] {
  margin-bottom: -1px;
  padding-left:36px;
  width:300px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
input[type="password"] {
  margin-bottom: -1px;
  padding-left:36px;
  width:300px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form{background: rgba(255,255,255,0.2);width:360px;height:270px;margin:21% auto;}
/*阴影*/
.fa{display: inline-block;top: 25px;left: 16px;position: relative;color: #ccc;}
.checkbox{padding-left:4%; font-weight: 400;}
